{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}

<section style="margin-top: 90px;">
  
<div>
  <h3 style="text-align: center; margin-top: 8px;">Informations <span class="text-primary">About Buildings</span>
    <h3>
    </div>
    <div class="container">
      <p>building, a usually roofed and walled structure built for permanent use. Rudimentary buildings were initially
        constructed out of the purely functional need for a controlled environment to moderate the effects of climate.
        These first buildings were simple dwellings.Buildings are homes, work places, schools, hospitals, shops,
        sports halls, transport terminals, where we all spend a significant part of our day. Their construction,
        structure that has been constructed and is in use.A building is 'a structure that has a roof and walls and
        stands more or less permanently in one place';[1] "there was a three-storey building on the corner"; "it was
        an imposing edifice". In the broadest interpretation a fence or wall is a building.[2] However, the word
        structure is used more broadly than building, to include natural and human-made formations[3] and ones that do
        not have walls; structure is more often used for a fence. Sturgis' Dictionary included that "[building]
        differs from architecture in excluding all idea of artistic treatment; and it differs from construction in the
        idea of excluding scientific or highly skilful treatment."[4]

        Structural height in technical usage is the height to the highest architectural detail on the building from
        street level. Spires and masts may or may not be included in this height, depending on how they are
        classified. Spires and masts used as antennas are not generally included. The distinction between a low-rise
        and high-rise building is a matter of debate, but generally three stories or less is considered low-rise.</p>
      </div>

     
    




<div class="text-center" style="margin-top: 66px;">
  <h4>Frunt-End Web Developer <span class="text-primary">Top Skills</span> </h4>
</div>
<div class="card-group py-3">
  <div class="card">
    <img src="static/new try.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">HTML</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/download.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CSS HTML</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/hq720.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BOOTSTRAP</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="text-center" style="margin-top: 6px;">
  <h4>Back-End Web Developer <span class="text-primary">Top Skills</span></h4>
</div>

<div class="card-group py-3">
  <div class="card">
    <img src="static/python(1).jpg" class="card-img-top" alt="logo"> 
    <div class="card-body">
      <h5 class="card-title">PYTHON</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="static/django-1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DJANGO</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/sql (1).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SQL</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>








<p class="text-center text-body-secondary" style="background-color: rgb(195, 191, 191);">© 2023 Company, Inc</p>


{% endblock body %}