{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}

<section style="margin-top: 90px;">

  <div>
    <h3 style="text-align: center; margin-top: 8px;">What Is skills</span>
      <h3>
  </div>
  <div class="container">
    <p>Web developer skills are the specific skills required to get hired and as a web developer and excel in this
      profession. Possessing these skills may help you perform better than other candidates, both during the hiring
      process and in your everyday job. Some examples of web development skills include HTML, basic design skills,
      interpersonal skills and analytical skills.</p>
  </div>







  <div class="text-center" style="margin-top: 66px;">
    <h4>Frunt-End Web Developer <span class="text-primary">Top Skills</span> </h4>
  </div>
  <div class="card-group py-3">
    <div class="card">
      <img src="static/new try.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HTML</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="static/download.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CSS HTML</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="static/hq720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOOTSTRAP</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <div class="text-center" style="margin-top: 6px;">
    <h4>Back-End Web Developer <span class="text-primary">Top Skills</span></h4>
  </div>

  <div class="card-group py-3">
    <div class="card">
      <img src="static/python(1).jpg" class="card-img-top" alt="logo">
      <div class="card-body">
        <h5 class="card-title">PYTHON</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card">
      <img src="static/django-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DJANGO</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="static/sql (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SQL</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>








  <p class="text-center text-body-secondary" style="background-color: rgb(195, 191, 191);">© 2023 Company, Inc</p>


  {% endblock body %}